* {
  margin: 0;
  padding: 0;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}

nav {
  background-color: rgb(24, 31, 76);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img {
  padding-top: 15px;
  padding-left: 150px;
  padding-bottom: 10px;
}

nav ul {
  padding-top: 20px;
  color: white;
  list-style-type: none;
  display: flex;
  padding-right: 150px;
  gap: 10px;
}
ul li a {
  text-decoration: none;
  color: white;
}
a:hover {
  background-color: rgb(245, 245, 245);
  color: rgb(24, 31, 76);
  font-weight: 600;
  font-size: 19px;
}
main {
  padding-left: 150px;
}
h1 {
  font-size: 30px;
  padding: 20px 0px;
}
h2 {
  font-size: 20px;
  padding-bottom: 20px;
}
main p {
  padding-bottom: 10px;
}
.line {
  border-bottom: 3px chocolate solid;
  width: 150px;
}

.cursuri1 {
  display: flex;
  gap: 15px;
  flex-direction: row;
}
p {
  padding-right: 250px;
}
.cursuri2 {
  display: flex;
  gap: 15px;
  flex-direction: row;
  margin-top: 10px;
}
main a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 300px;
  padding-bottom: 70px;
  padding-left: 150px;
  background-color: rgb(24, 31, 76);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer ul {
  list-style-type: none;
  gap: 10px;
  padding-top: 25px;
}
.infoContact {
  display: flex;
  flex-direction: column;
}
.locatii {
  display: flex;
  flex-direction: column;
  padding-right: 350px;
}

footer li:first-child {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
}
